<!--
Author: James Harper
Title: contact-us.component.html
Date: 12/17/23
Description: Contact information for loan-app project
-->

<!--Content container-->

    <h1>Contact</h1>

    <img class="logo" src="../../assets/hufflepuff.png">

    <div id="contact">
      <h2>Huffs n Puffs</h2>
      <p>Email: huffnpuffs@loans.com</p>
      <p>Phone: 777-222-9510</p>
      <img src="../../assets/phone.png" />
      <br />
      <br />
      <h2>Address</h2>
      <p>445 Spells Way</p>
      <p>Hogwarts</p>
    </div>


